{{ $item := .item }}

{{ $resource := partial "functions/get_featured_image.html" $item }}
{{ $anchor := $item.Params.image.focal_point | default "Center" }}

<a href="{{ $item.RelPermalink }}" class="mb-5">
  <div class="md:flex">
    <div class="md:flex-shrink-0 overflow-hidden">
      {{ with $resource }}
        {{ $image := .Fill (printf "655x655 %s" $anchor) }}
        {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
      <img class="h-48 w-full object-cover md:w-48 hover:scale-125 transition duration-500 cursor-pointer object-cover" loading="lazy" src="{{ $image.RelPermalink }}" height="{{ $image.Height }}" width="{{ $image.Width }}" alt="{{ $item.Title | plainify }}">
      {{end}}
    </div>
    <div class="p-8">
      <!-- add authors -->
      {{ with $item.Params.authors }}
        <div class="flex flex-wrap">
          {{ range $index, $author := . }}
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ $author }}</span>
          {{ end }}
        </div>
      {{ end }}
      <div class="uppercase tracking-wide text-md text-primary-700 dark:text-primary-200 font-semibold">{{ $item.Title }}</div>
      <p class="block mt-1 text-sm leading-tight font-medium text-black dark:text-white">
        {{ ($item.Params.summary | default $item.Summary) | plainify | htmlUnescape | chomp -}}
      </p>
      <p class="mt-2 text-gray-500 dark:text-gray-400">
        {{- $item.Date | time.Format (site.Params.locale.date_format | default ":date_long") -}}
      </p>
      <div class="mt-4">
        {{ with $item.Params.url_pdf }}
          <span><a class="underline" href="{{ . }}">{{ i18n "btn_pdf" }}</a></span>
        {{ end }}
        {{ $resource := $item.Resources.GetMatch "cite.bib" }}
        {{ with $resource }}
        <span class="ml-4">
          <a href="#" class="underline js-cite-modal" data-filename="{{ .RelPermalink }}">
            {{ i18n "btn_cite" }}
          </a>
        </span>
        {{ end }}
        {{ with $item.Params.url_code }}
          <span class="ml-4"><a class="underline" href="{{ . }}">{{ i18n "btn_code" }}</a></span>
        {{ end }}
        {{ with $item.Params.doi }}
          <span class="ml-4 "><a class="underline" href="https://doi.org/{{ . }}">DOI</a></span>
        {{ end }}
      </div>
    </div>
  </div>
</a>
