{{ $page := .wcPage }}
{{ $block := .wcBlock }}

{{ $image1 := resources.Get "media/ue.png" }}
{{ $image2 := resources.Get "media/mur.png" }}
{{ $image3 := resources.Get "media/italiadomani.png" }}

<div class="flex flex-wrap items-center justify-center">
    <div class="flex flex-wrap items-center justify-between">
        <img class="h-full py-8 px-8 sm:w-1/2 md:w-1/3" src="{{ $image1.Permalink }}" alt="NextGenerationEU"></img>
        <img class="h-full py-8 px-8 sm:w-1/2 md:w-1/3" src="{{ $image2.Permalink }}" alt="MUR"></img>
        <img class="h-full py-8 px-8 sm:w-1/2 md:w-1/3" src="{{ $image3.Permalink }}" alt="Italiadomani"></img>
    </div>
</div>