{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<div class="flex flex-wrap items-center justify-center">
  <div class="flex flex-wrap items-center justify-between">
    <div class="flex-1 sm:flex-none sm:w-1/3 py-8 px-8">
      <img class="h-auto w-full object-contain" src="/media/ue.png" alt="UE">
    </div>
    <div class="flex-1 sm:flex-none sm:w-1/3 py-8 px-8">
      <img class="h-auto w-full object-contain" src="/media/mur.png" alt="MUR">
    </div>
    <div class="flex-1 sm:flex-none sm:w-1/3 py-8 px-8">
      <img class="h-auto w-full object-contain" src="/media/italiadomani.png" alt="Italia Domani">
    </div>
  </div>
</div>
