<!-- Citation modal -->
<div id="modal" class="fixed top-0 left-0 w-full h-full flex items-center justify-center hidden">
  <div class="modal-dialog bg-white shadow-lg">
    <div class="modal-content p-8">
      <div>
        <div class="flex justify-between">
          <span class="text-xl font-bold">{{ i18n "btn_cite" }}</span>
          <span><button id="closeModal" type="button" class="font-bold text-3xl">&times;</button></span>
        </div>  
      </div>  
      <div class="modal-body">
        <pre><code></code></pre>
      </div>
    </div>
  </div>
</div>